dist: trusty
sudo: false
language: none
services:
  - docker
branches:
  only:
    - master
cache:
  directories:
  - /tmp/dockerimgs
before_script:
  - pip install --user vim-vint
  - |
    if [ -f /tmp/dockerimgs/vim-python-pep8-indent ]; then
      docker load -i /tmp/dockerimgs/vim-python-pep8-indent
    fi
  - docker build -t vim-python-pep8-indent .
  - docker save vim-python-pep8-indent > /tmp/dockerimgs/vim-python-pep8-indent
script:
  - docker run -ti --rm vim-python-pep8-indent
  - vint **/*.vim
